<main class="container py-10 lg:px-10 sm:px-4 mx-auto">
    @if (episodes() != null) {
        <section class="grid grid-cols-1 gap-4">
            @for (episode of episodes()?.results; track episode.id) {
                <article class="border p-4 rounded-md shadow-md">
                    <span class="font-medium text-lg">{{ episode.name }}</span>
                    <p>Episode: {{ episode.numberEpisode }}</p>
                    <p>{{ episode.season }}</p>
                    <p>{{ episode.airDate }}</p>
                </article>
            }
        </section>
    } @else {
        <article class="text-3xl">
            not found episodes
        </article>
    }
</main>
