<section class="ricks-section pb-20 bg-black">
  <header class="text-center text-white py-20">
    <h4 class="text-7xl font-semibold">The Ricks</h4>
  </header>
  <div class="flex flex-col justify-center items-center">
    <app-team-section-card 
      member="Rick Yuls P02" 
      information="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam sunt,
              possimus, aliquam facilis expedita quasi iure dolorum optio doloremque obcaecati velit officiis saepe labore
              incidunt sapiente deserunt asperiores, sint odio." 
      position="rtl"
      image="https://rickandmortyapi.com/api/character/avatar/299.jpeg"       
    />

    <app-team-section-card 
      member="Peral Rick K60" 
      information="Lorem ipsum dolor sit amet consectetur, adipisicing elit. Numquam sunt,
              possimus, aliquam facilis expedita quasi iure dolorum optio doloremque obcaecati velit officiis saepe labore
              incidunt sapiente deserunt asperiores, sint odio." 
      position="ltr"
      image="https://rickandmortyapi.com/api/character/avatar/1.jpeg"       
    />
  </div>
</section>